@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
*{
    padding: 0px;
    margin: 0px;
    color: #FFF;
    font-family:'Open Sans',sans-serif;
}
input{
    border: none;
    color: #FFF;
    background-color: #444;
    padding: 8px;
    margin-top: 4px;
    margin-left: 4px;
}
input:hover{
    background-color: #2288bb;
}
#delete-button{
    float: right;
    margin-right: 4px;
}
#jstreeContainer{
    overflow: auto;
    /* border: solid; */
    background-color: #222;
    float: left;
    width: 256px;
    height: 100%;
}
#mainWindow{
    height: 100%;
    background-color: #444;
    overflow: auto;
}
#action-bar{
    background-color: #222;
    width: 100%;
    height: 42px;
}
.itms{
    float: left; 
    margin: 8px; 
    width: 96px;
    height: 128px; 
    display: block;
    padding: auto;
}
.itms:hover{
    background-color: #2288bb;
}
.label{
    margin-top: 10px;
    text-align: center;
    word-wrap: break-word;

}

/************************************/
.jstree-default .jstree-hovered {
    background-color: #2288bb;
}
.jstree-default .jstree-clicked {
    background: #2288bb;
}
